<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>rime-static.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07DACBB6D7904362840DA564</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>339B8BD84A714D0D97F06200</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E1D531B2B8940E38B3AA706</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>701ED7B5C00E4195916EFB43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80FFB20C20E14FB38B657742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89956CC2C30E4056B21D11AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B03C21FFB7F2454187A72BFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B79A2E70DBE44079A11D7A91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C48ADF2BBBEB4737BAE874C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB590755CABB46E4B4B29A84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF13894F7BEB44358E4A8BE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
